/*------------------------------*/
/*FONT*/
/*------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/*------------------------------*/
/*BASIC SETUP*/
/*------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #555;
	font-family: Lato;
	font-weight: 300;
	font-size: 10px;
	/* max-width: 1280px; */
	height: 100%;
	margin: auto;
}

h1,
h2,
h3 {
	font-weight: 300;
}

/*------------------------------*/
/*REUSEABLE COMPONENT*/
/*------------------------------*/
section {
	margin: 50px 0;
}

h1 {
	text-transform: uppercase;
	font-size: 240%;
}

h2 {
	font-size: 180%;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	margin-right: 10px;
	border: 2px solid #ce6d17;
	border-radius: 50px;
	transition: background 0.5s, border 0.5s, color 0.5s;
	/* font-size: 90%; */
}

.btn-full:link,
.btn-full:visited {
	background-color: #ce6d17;
	color: #fff;
	margin-top: 10px;
}

.btn-ghost:link,
.btn-ghost:visited {
	color: #ce6d17;

}

.btn-full:hover,
.btn-full:active,
.btn-ghost:hover,
.btn-ghost:active {
	background-color: #a15512; 
	border-color: #a15512;
	color: #fff;
}

/*------------------------------*/
/*HEADER*/
/*------------------------------*/

header {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 6fr;
	align-items: center;
	/* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./images/hero.jpg'); */
	
	background-size: cover;
	background-position: center;
	height: 100vh;
	/* border: 2px solid orange; */
}

.nav__img {
	width: 150px;
	margin: 0 auto;
}

.nav__links {
	grid-row: 1;
	grid-column: 2 / 5;
	display: flex;
	align-self: center;
	justify-content: flex-end;
}

.nav__icon {

}

.nav__link:link,
.nav__link:visited {
	margin-right: 5%;
	color: #e67e22;
	padding-bottom: 4px;
} 

.nav__link:hover,
.nav__link:active {
	color: #ce6d17;
	border-bottom: 1px solid #ce6d17;
}

.header-text {
	grid-column: 2 / 5;
	grid-row: 2;
	padding-right: 5%;
	color: #fff;
}

/*------------------------------*/
/*FEATURE*/
/*------------------------------*/
.feature {
	display: grid;
	grid-template-columns: repeat(4 1fr);
	grid-template-rows: repeat(3 1fr);
}